{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<div class="edit_profile-container">
    <div class="edit_profile-card">
        <h2 class="edit_profile-title">Edit Profile</h2>
        <form method="post" class="edit_profile-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <input type="{{ field.field.widget.input_type }}" 
                       name="{{ field.name }}" 
                       class="form-field {{ field.css_classes }}" 
                       placeholder="{{ field.label }}" 
                       id="id_{{ field.name }}"
                       {% if field.field.required %}required{% endif %}>
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="edit_profile-btn">Save Changes</button>
                <a href="{% url 'th_monitoring:dashboard' %}" class="btn btn-secondary btn-block">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
